# 本代码用来给指定的根据指定的csv文件生成对应的特征列

## 1. 导入包

In [9]:
import numpy as np  
import pandas as pd
import math
import os
from scipy.fftpack import fft,ifft
import matplotlib.pyplot as plt
import matplotlib.axes as axes
from tqdm import tqdm

## 2. 加载文件

In [10]:
csv_filename = "printer.csv"
df = pd.read_csv(csv_filename,names=["time","us","acc","ws"])
df.head(5)

           time       us      acc       ws
0  15:52:08.395  1012464  0.03598  2.27844
1  15:52:08.433  1044468  0.03342  2.23848
2  15:52:08.433  1076472  0.03821  2.43992
3  15:52:08.471  1108476  0.03703  2.40637
4  15:52:08.508  1140476  0.03831  2.15383

## 3. 处理文件

In [11]:
df["acc"] = df["acc"]*1000
df.head(5)

           time       us    acc       ws
0  15:52:08.395  1012464  35.98  2.27844
1  15:52:08.433  1044468  33.42  2.23848
2  15:52:08.433  1076472  38.21  2.43992
3  15:52:08.471  1108476  37.03  2.40637
4  15:52:08.508  1140476  38.31  2.15383

## 4. 保存文件

In [12]:
## index=0,去掉索引列
df.to_csv(csv_filename,float_format='%.2f',index=0,columns=['time',"us","acc"])